<% if user_signed_in? %>
  <div style="background-color:#FFF9B2;">
  내 정보<br><br>
  아이디: <%= current_user.id %><br>
  이메일: <%= current_user.email %><br><br>
  <% if current_user.is_admin == true %>
    <p style="color: #f00">'블로그 주인장'</p>
  <% end %>
  <a href="/users/sign_out" data-method="delete">로그아웃</a>
  </div>

  <hr>

  <% @categories.each do |category| %>
    <a href="/category_show/<%= category.id %>"><%= category.title %></a>
    <% if current_user.is_admin == true %>
      <a href="/category_delete/<%= category.id %>">삭제</a>
      <a href="/category_modify/<%= category.id %>">수정</a>
    <% end %>
    <hr>
  <% end %>
  <a href="/category_write">카테고리 만들기</a><br>

  
<% else %>
  <a href="/users/sign_in">로그인</a>
  <hr>

  <% @categories.each do |category| %>
    <a href="/category_show/<%= category.id %>">
      <%= category.title %>
    </a>
    <hr>
  <% end %>

<% end %>